@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "Inter", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  --font-serif:
    "Petrona", Georgia, Cambria, "Times New Roman", Times, serif;

  --color-primary-50: #fff5eb;
  --color-primary-100: #ffe6cc;
  --color-primary-200: #ffcc99;
  --color-primary-300: #ffb366;
  --color-primary-400: #ff9933;
  --color-primary-500: #ff5c00;
  --color-primary-600: #e65300;
  --color-primary-700: #cc4800;
  --color-primary-800: #b33c00;
  --color-primary-900: #993000;
  --color-primary-950: #802800;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}

html,
body {
  background-color: var(--ui-bg);
}

html.dark,
html.dark body {
  background-color: oklch(0.18 0 0) !important;
}

.dark {
  --color-default: oklch(0.18 0 0);
  --color-elevated: oklch(0.2 0 0);
  --color-muted: oklch(0.16 0 0);
}
