@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --ui-container: var(--container-4xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

html.dark, html.dark body {
  background-color: oklch(0.18 0 0) !important;
}

.dark {
  --color-default: oklch(0.18 0 0);
  --color-elevated: oklch(0.20 0 0);
  --color-muted: oklch(0.16 0 0);
}
